*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease-in-out;
}
body{
    background-color: #1a1d22;
    font-size: calc(1vw + 1vh + 1.25vmin);
    position: relative;
}
h1 {
    font-size: 200%;
    color: #a5b1be;
    text-transform: uppercase;
    letter-spacing: calc(0.1vw + 0.1vh * 20);
}
a{
    color: #87929f;
    font-size: 120%;
}
a:hover{
    color: #ffffff;
}
.mainCnt{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 75px;
    position: relative;
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("./img/sigmund-ferm.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    z-index: 0;
    filter: blur(100px);
    opacity: 0.25;
}
@media(max-width: 1400px){
    h1 {
        letter-spacing: calc(0.1vw + 0.1vh * 10);
    }
}
@media(max-width: 900px){
    h1 {
        letter-spacing: calc(0.1vw + 0.1vh);
    }
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    width: 300px; /* Largeur fixe pour le nav */
    display: flex;
    flex-direction: column;
    background-color: rgba(55, 49, 49, 0.25); /* Utilisez rgba pour la transparence */
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px); /* Pour la compatibilité avec Safari */
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Assurez-vous que le z-index est inférieur à celui du nav */
}